.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 168%;
    margin-left: 0%;
}

.btn-block {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: rgb(255 255 255 / 50%);
    font-size: 123%;
    margin-top: 6%;
}